/**
 * 2018, Apium
 *
 * @author    Niels Wouda, Apium <n.wouda@apium.nl>
 * @copyright 2018, Apium
 */
.postcodenl-template {
    width: fit-content;
    background: lightgrey;
    padding: 10px;
    margin: 5px 0;
}
